#arrow-color {
  color: white;
}

button {
  background-color: #f9d7df;
  border: 0;
  border-radius: 25px;
  margin-left: 250px;
  padding: 10px;
  width: 90px;
}

#email {
  margin-left: 10rem;
  margin-top: 3rem;
}

input {
  border-color: #f96262;
  border-radius: 25px;
  padding: 10px;
  position: absolute;
  width: 300px;
  z-index: -1;
}

#validate {
  color: #ce9797;
  font-weight: 600;
  margin-top: 0;
  margin-left: 1rem;
}
